<h3>Sign In</h3>

<form action="/admin" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" style="background-color: rgb(230, 249, 239); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" style="background-color: rgb(230, 249, 239);  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">

  <input type="submit" value="Login" class="btn">

</form>

<!--<h3>Register</h3>
<form action="/register" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">

</form> -->